main {
    background-color: rgb(231, 231, 231);
}

.fondo {
    margin-top: -60px !important;
    padding: 50px 0;
    z-index: 2;
    background-color: white;
    flex-direction: column-reverse !important;
    display: flex;
}
.form_contact {
    width: 100%;
}
.info_data {
    padding: 3rem 4rem;
}
.form_contact p,
label {
    font-weight: 300;
    font-size: 0.9em;
    text-align: center;
    color: var(--paragraph-grey);
}
.form_contact h4 {
    color: var(--title-blue);
    font-weight: 900;
    font-size: 2.5em;
    line-height: 0.9em;
}
.info_data h4 {
    color: var(--title-grey);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-size: 2.5em;
}
.info_data p {
    font-weight: 300;
    font-size: 0.9em;
    text-align: left;
    color: var(--paragraph-grey);
}
.cards {
    width: 100%;
    padding-top: 3.5rem;
}
.card {
    display: flex;
    flex-direction: column;
}
.card_item {
    display: flex;
    align-items: center;
}
.card svg {
    color: rgb(118, 159, 255);
    margin-bottom: 0.7rem;
}
.card h5 {
    color: var(--subtitle-grey);
    font-weight: 400;
}
.card p {
    color: var(--paragraph-grey);
    font-size: 0.8em;
}
.row {
    margin-left: calc(-0.5 * 1.5rem) !important;
    margin-right: calc(-1.5 * 1.5rem) !important;
}
.invalid_feedback_small {
    font-size: 0.75rem !important;
}

@media (min-width: 992px) {
    .form_contact {
        width: 90%;
        padding: 3rem 0;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .fondo {
        flex-direction: row !important;
    }
}
