.history_text h2{
    color : var(--title-grey);
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-size: 2.5em;
}
.history_text p{
    color : var(--paragraph-grey);
    text-align: left;
    font-weight: 300;
    font-size: 0.9em;
}
.profile{   
    padding: 13rem 0 5rem 0;   
    background-color: rgb(236, 236, 236);     
}
.card_our{   
    position: relative;  
    min-height: 18rem;   
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
.card_our p{
    font-size: 0.9em;
    color: var(--title-grey);
}
.card_our h4{
    font-weight: 700;
}
.card_our small{
    color: var(--paragraph-grey);
}
.card_img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
     
    
}
.card_img img{
    width: 100%;      
    /* transform: scale(1); */
}