/* web page */
.web{
    padding: 2rem 0 5rem 0;
    background-color: white;
}
.web h1{
    color: var(--title-blue);
    font-weight: 800;
    font-size: 2.5em;
}
.parrafo{
    color: var(--paragraph-grey);
}
.price{
    font-size: 2.8em;
    font-weight: 800;    
}
.price::before{
    content: '$';
    font-weight: 300;
    font-size: 0.8em;
}
.price::after{
    content: 'clp';
    font-weight: 300;
    font-size: 30px;
}

.price_table{
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 15px #d8d8d8;
    min-height: 200px;
    padding: 2.5rem 0;
}
.price_table small{
    color: var(--paragraph-grey);
}
.price_table h4{
 font-weight: 600;   
}
.price_table p{
    margin: 0;    
}
.price_table ul{
    padding: 0;    
}
.price_table ul li{
    list-style:none;        
}
@keyframes bg {
    0%{
        background-position: 0 50%;        
    }   
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0 50%;        
    }    
}
.pro{
    background: linear-gradient(-45deg,#00046b,#121568,#0006b1,#3d41bb);
    background-size: 300% 300%;
    color: white;     
    animation: bg 7s ease infinite;   
    z-index: 2;    
}

/* custom applications */

.custom{
    padding: 5rem 0;
    background: linear-gradient(to bottom, #f8f8f8, #F3F3F3);
}
.custom h1{
    color: var(--title-blue);
    font-weight: 800;
    font-size: 2.5em;
}
.img_empresarial{
    width: 400px;
}
.list_empresarial{
    list-style: none;
    margin: 0;
}

/* mobile */
.mobile{
    padding: 5rem 0;
    background-color: white;
}
.mobile h1{
    color: var(--title-blue);
    font-weight: 800;
    font-size: 2.5em;
}
.img_mobile{
   height: 400px; 
}

/* integrations */
.integration{
    padding: 5rem 0;
    background: linear-gradient(to bottom, #f8f8f8, #F3F3F3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.integration h1{
    color: var(--title-blue);
    font-weight: 800;
    font-size: 2.5em;
}
.img_integracion{
    width: 400px;
}