
.logo{  
  margin-top: 0.3rem;
  width: 9rem;  
}
.cabecera{
    width: 100%;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(2,0,36,0.9), rgba(9,9,121,0.9)),url(/img/equipo.png);
    background-size: cover;        
    opacity: 0.9;
}
.bannerImg{
  height: 30rem;
}

.btnContact {
  background: rgb(0, 54, 182);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  border: none;
  font-size: 1em;
}

.btnContact:hover, .btnContact:active, .btnContact:focus{
  background: rgb(0, 42, 142);
  background-color: rgb(0, 42, 142) !important;
  box-shadow: none;
}

.prefooter{
  /* background-color: rgb(0, 172, 230); */
  color: rgb(0, 42, 142);
  text-align: center;
  padding:5rem 4rem;  
}
.font300{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 1200px) {
   
  .bannerImg{
    height: 21rem;
  }
  
}

@media (min-width: 1200px) {
  .btnContact {
    width: 140%;
  }

}