.service{
    width: 100%;  
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /* padding-bottom: 5rem; */
  }
  .movile{
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }
  
  .movile article img{
  height: 30rem;
  }
  
  .web{
    width:100%;  
    background: linear-gradient(90deg,rgb(0, 0, 54)1%,rgba(9,9,121,1)10%,rgba(0,212,255,1));
  }
  
  
  .web article img{
    height: 20rem;
  }
  .solution{
    width:100%;  
  }
  
  .solution article img{
    height: 21rem;
  }
  
  .system{
    width:100%;  
    background: linear-gradient(90deg,rgb(0, 0, 54)1%,rgba(9,9,121,1)10%,rgba(0,212,255,1)) !important;
  }
  
  .system article img{
    height: 30rem;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    .movile article img{
      height: 20rem;
    }
    .web article img{
      height: 10rem;
    }
    .solution article img{
      height: 15rem;
    }
    .system article img{
      height: 20rem;
    }
  }
  @media (max-width: 767px){
    .movile{      
      background-image:linear-gradient(rgba(0, 0, 0, 0.856),rgba(0, 0, 0, 0.87)), url(/img/mobile.png);
      background-size:cover;
      background-repeat: no-repeat;
      color: white;
      padding: 5.5rem 0;
    }
    .movile article h3{
      font-size: 1.7em;
    }
    .web{
      
      /* background-image:linear-gradient(90deg,rgb(0, 0, 54)1%,rgba(9,9,121,1)10%,rgba(0,212,255,1)), url(/img/webDesign.jpg);
      background-size:cover;
      background-repeat: no-repeat; */
      
      padding: 5.5rem 0;
    }
    .web article h3{
      color: black;
      font-size: 1.7em;      
    }
  }