.service{
    width: 100%;  
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /* padding-bottom: 5rem; */
  }
  .movile{
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }
  
  .movile article img{
  height: 30rem;
  }
  .movile_m{
    background-image:linear-gradient(rgba(0, 0, 0, 0.856),rgba(0, 0, 0, 0.87)), url(./../img/mobile_min.webp);
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    height: 25rem;
  }
  .movile_m h3{
    font-size: 1.7em;
  }
  .web{
    width:100%;      
  }

  .web_m{   
      background-image:linear-gradient(rgba(2,0,36,0.9), rgba(9,9,121,0.9)), url(./../img/webDesign_min.webp);
      background-size:cover;
      opacity: 0.9;
      background-repeat: no-repeat;
      color: white;
      height: 25rem;
  }
  .web_m h3{
    font-size: 1.7em;
  }
  
  
  .web article img{
    height: 20rem;
  }
  .solution{
    width:100%;  
  }
  
  .solution article img{
    height: 21rem;
  }
  .solution_m{
    background-image:linear-gradient(rgba(0, 0, 0, 0.856),rgba(0, 0, 0, 0.87)), url(./../img/solutions_m_min.webp);
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    height: 25rem;
  }
  .solution_m h3{
    font-size: 1.7em;
  }
  .system{
    width:100%;    
  }

  
  .system article img{
    height: 30rem;
  }

  .system_m{
    background-image:linear-gradient(rgba(2,0,36,0.9), rgba(9,9,121,0.9)), url(./../img/system_m_min.webp);
    background-size:cover;
    opacity: 0.9;
    background-repeat: no-repeat;
    color: white;
    height: 25rem;
  }
  .system_m h3{
    font-size: 1.7em;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    .movile article img{
      height: 20rem;
    }
    .web article img{
      height: 10rem;
    }
    .solution article img{
      height: 15rem;
    }
    .system article img{
      height: 20rem;
    }
  }
