@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
 .navbar-brand{
  display: flex;
  align-items: center;
 }
.logo{  
  margin-top: 0.3rem;
  width: 9rem;  
}
.cabecera{
  background: linear-gradient(189deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 80%);
  /* max-height: 100vh;   */
  font-weight: 300;
}
.bannerImg{
  height: 30rem;
}
.service{
  width: 100%;  
  font-weight: 300;
  /* padding-bottom: 5rem; */
}
.movile{
  width: 100%;
  height: auto;
  padding-top: 1rem;
}

.movile article img{
height: 30rem;
}

.web{
  width:100%;  
  background: linear-gradient(90deg,rgb(0, 0, 54)1%,rgba(9,9,121,1)10%,rgba(0,212,255,1));
}


.web article img{
  height: 20rem;
}


.solution{
  width:100%;  
}

.solution article img{
  height: 21rem;
}

.system{
  width:100%;  
  background: linear-gradient(-90deg,rgb(0, 0, 54)1%,rgba(9,9,121,1)60%,rgba(0,212,255,1));
}

.system article img{
  height: 30rem;
}

.prefooter{
  background-color: rgb(0, 140, 255);
  color: white;
  text-align: center;
  padding:5rem 4rem;  
}
.prefooter .container p{
  font-weight: 300;
}
footer{
  background-color: rgb(0, 0, 54);
  color: white;
  text-align: center;
  padding:3rem 4rem;  
}

@media (min-width: 768px) and (max-width: 1200px) {
  .bannerImg{
    height: 21rem;
  }
  .movile article img{
    height: 20rem;
  }
  .web article img{
    height: 10rem;
  }
  .solution article img{
    height: 15rem;
  }
  .system article img{
    height: 20rem;
  }
}